<div class='text-sm text-gray-400'>
  <p class="text-black"><%= @comment.description %></p>
  <div class='mb-4'>
    <span><%= @comment.user.name %> commented <%= time_ago_in_words @comment.created_at%> ago </span>
    <span class='mx-3'>|</span>
    <% if @is_author %>
      <span><%= link_to 'Edit', edit_comment_path(@comment), class: "hover:text-brand-primary-hover" %></span>
      <span class='mx-3'>|</span>
      <span><%= button_to 'Delete', comment_path(@comment.id) , method: :delete, :onclick => "return confirm('Are you sure you want to delete this comment?')", form_class: "inline text-red-400" %></span>
      <span class='mx-3'>|</span>
    <% end %>
    <span><%= link_to 'Reply', '#', class: "hover:text-brand-primary-hover" %></span>
  </div>
</div>
<% if @comment.replies.present? %>
  <div class='text-sm text-gray-400 ml-5 mb-4 border-l-4 pl-3'>
    <% @comment.replies.each do |reply| %>
      <%= render(Cards::CommentListingCardComponent.new(comment: reply, current_user: @current_user)) %>
    <% end %>
  </div>
<% end %>
