<div class='max-w-4xl mt-6'>
  <div class='flex justify-between mb-8'>
    <div>
      <div>
        <h2 class='inline-block mb-8 text-2xl hover:text-brand-primary-hover'>
          <%if @is_member || @is_owner %>
            <%= link_to @group.name, group_path(@group.uuid) %>
          <% else %>
            <%= @group.name %>
          <% end %>
        </h2>
        <span class='text-gray-400 ml-5'><%= @is_owner ? '( created by you )' : '' %></span>
      </div>
      <span><%= pluralize(@group.users.count, 'member') %> </span>
      <span class='mx-3'>|</span>
      <span><%= pluralize(@group.posts.count, 'post') %> </span>
      <span class='mx-3'>|</span>
      <span>Last Activity <%= time_ago_in_words(@group.last_activity || @group.updated_at) %> ago </span>
      <% if @is_owner %>
        <span class='mx-3'>|</span>
        <%= button_to 'Delete', groups_path(uuid: @group.uuid), method: :delete, :onclick => "return confirm('Are you sure you want to delete this group?')", form_class: "inline text-red-400" %>
      <% end %>
    </div>
    <div>
      <%= render(Buttons::ActionButtonComponent.new(title: @btn_text, method: "POST", disabled: @is_member || @is_requested, action_url: join_group_path(group_id: @group.id, user_id: @current_user.id))) if !@is_owner %>
    </div>
  </div>
</div>
