<div class='max-w-4xl mt-6'>
  <div class='flex justify-between mb-8'>
    <div>
      <div>
        <h2 class='inline-block mb-8 text-2xl'><%= @group.name %></h2>
        <span class='text-gray-400 ml-5'><%= @current_user.id == @group.owner_id ? '( created by you )' : '' %></span>
      </div>
      <span><%= @group.users.count %> members</span>
      <span class='mx-3'>|</span>
      <span><%= @group.posts.count %> posts</span>
      <span class='mx-3'>|</span>
      <span>Last Activity <%= pluralize(1+rand(5), 'day')%> ago</span>
    </div>
    <div>
      <%= render(Buttons::OutlineButtonComponent.new(title: 'Join')) if @current_user.id != @group.owner_id%>
    </div>
  </div>
</div>
