<div class='container mx-auto mt-6'>
  <div class='inline-block w-2/3 align-top'>
    <div data-controller="modal">
      <%= link_to "<i class='fa-solid fa-arrow-left-long fa-2x'></i>".html_safe, groups_path, title: "Back to Groups" %>
      <h1 class='text-3xl mb-8 mt-2'><%= @group.name %> <% if @is_admin %> <i class="fa-solid fa-gear ml-5" data-action="click->modal#toggle"><% end %></i></h1>
      <%= render(Modals::GroupModalComponent.new(edit: true, group: @group, hanlde_submit: nil, on_hide: "click->modal#toggle")) if @is_admin %>
    </div>
    <% if @is_admin %>
      <div data-controller="invitation" >
        <input data-invitation-target="inviteLink" value="<%= request.original_url %>" hidden/>
        <p 
        data-action="click->invitation#copyLink" 
          class="mb-4 invitation-link">Copy Invitation Link <small data-invitation-target="linkMsg"></small></p>
      </div>
    <% end %>
    <%= render 'posts/form' %>
    <h1 class='text-3xl mb-8'>All Posts </h1>
    <% if @group.posts.present? %>
      <% @group.posts.each do |post|%>
        <%= render(Cards::PostListingCardComponent.new(post: post, current_user: @current_user, is_group_admin: @is_admin)) %>
      <% end %>
    <% else %>
      <h3 class="text-center bg-gray-100 p-5 mb-2">Wao :) Such an empty! </h3>
    <% end %>
  </div>
  <div class='inline-block w-1/4 align-top'>
    <div class='ml-9'>
      <div class='mb-4'>
        <% if @group.group_members.any? %>
          <h2 class='text-xl mb-4'>Members</h2>
          <div class='text-sm'>
            <% @group.group_members.each do |member|%>
              <div class="flex justify-between mb-4">
                <p><%= member.user.name %></p>
                <%= render(Buttons::IconButtonComponent.new(title: "Remove", icon: "fa-solid fa-xmark fa-2x text-danger", action_url: remove_member_path(membership_id: member.id, status: false))) if @is_admin && member.user.id != @group.owner_id %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class='mb-4'>
        <% if @is_admin && @group.joining_requests.any? %>
          <h2 class='text-xl mb-4 text-2xl'>Requests</h2>
          <div class='text-sm'>
            <% @group.joining_requests.each do |request|%>
              <div class="flex justify-between mb-4">
                <p class="text-lg w-36"><%= request.user.name %></p>
                <%= render(Buttons::IconButtonComponent.new(title: "Approve", icon: "fa-solid fa-check fa-2x text-success", action_url: update_request_path(request_id: request.id, status: true))) %>
                <%= render(Buttons::IconButtonComponent.new(title: "Reject", icon: "fa-solid fa-xmark fa-2x text-danger", action_url: update_request_path(request_id: request.id, status: false))) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
