<div class="container">
  <% if flash[:errors] %>
    <%= render 'shared/errors', errors: flash[:errors] %>
  <% end %>
  <%= form_with(model: @post, class: "shadow p-3 mb-3 bg-info rounded", local: true,  data: { turbo: false}) do |f| %>
    <div class="form-group row mb-4">
      <%= f.label :title, class: "col-2 col-form-label text-light" %><br/>
      <div class="col-10">
        <%= f.text_field :title, :required => true, class: "py-2 px-3 border border-gray-300 focus:border-brand-primary focus:outline-none focus:ring focus:ring-brand-primary focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full", placeholder: "Title of post" %>
      </div>
    </div>
    <div class="form-group row mb-4">
      <%= f.label :description, class: "col-2 col-form-label text-light" %><br/>
      <div class="col-10">
        <%= f.text_area :description, :required => true, rows: 10, class: "py-2 px-3 border border-gray-300 focus:border-brand-primary focus:outline-none focus:ring focus:ring-brand-primary focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full", placeholder: "Description of article here..." %>
      </div>
    </div>
    <%= f.hidden_field :author_id, value: @current_user.id %>
    <%= f.hidden_field :group_id, value: @group.id %>
    <div class='sm:flex sm:flex-row-reverse mb-4'>
      <%= f.submit class: "inline-flex items-center justify-center px-4 py-2 bg-brand-primary font-semibold capitalize text-white hover:bg-brand-primary-hover active:bg-brand-primary disabled:opacity-25 transition" %>
    </div>
  <% end %>
</div>
